@font-face {
  font-family: 'Lexend Deca';
  src: url('../../public/fonts/LexendDeca-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter_18pt-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.property1frame5123 {
  width: 466px;
  height: 450px;
  max-width: 300%;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 100px;
}

.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-11xl);
  margin-top: 5px;
}

.frameComponentParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px !important;
  height: auto !important;
  margin-top: 20px !important;
  padding: 20px !important;
  background-color: #ffffff !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}

.welcomeBackParent {
  text-align: center;
  margin-bottom: var(--gap-9xl);
  margin-top: 5px;
  color: black;
  font-weight: bold;
  font-family: 'Lexend Deca';
}

.welcomeBack {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
}

.wereSoExcited {
  font-size: 15px;
  color: black;
  font-family: 'Inter';
  font-weight: normal;
  margin-top: 7px;
  margin-bottom: 30px;
}

.inputParent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-3xs);
  width: 100%;
  margin-bottom: 25px;
}

.inputField {
  width: 100%;
  max-width: 406px;
  height: 48px;
  padding: 0 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: var(--other-button-size);
  margin-bottom: 15px;
  color: black;
}

.lupaPassword {
  font-size: var(--other-button-size);
  color: #3366ff;
  text-align: left;
  width: 100%;
  margin-top: var(--gap-5xs);
}

.signInButton {
  width: 100%;
  max-width: 406px;
  height: 48px;
  background-color: #3366FF;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-size: var(--other-button-size);
  cursor: pointer;
  margin-top: var(--gap-9xl);
  margin-bottom: 10px;
}

.butuhBuatAkunContainer {
  margin-top: var(--gap-9xl);
  font-weight: 500;
  color: black;
}

.daftarDiSini {
  color: #3366FF;
  text-decoration: none;
  font-weight: 500;
}
